.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  width: 50%;
  height: 25px;
  /* padding: 8px 0px; */
  border-radius: 20px;
}

.span {
  position: absolute;
}
